@font-face {
    font-family: 'Skranji-regular';
    src: url('../Assets/fonts/Skranji-Regular.ttf');
}

@font-face {
    font-family: 'gudea-regular';
    src: url('../Assets/fonts/Gudea-Regular.ttf');
}

@font-face {
    font-family: 'VarelaRound-Regular';
    src: url('../Assets/fonts/VarelaRound-Regular.ttf');
}


body {

    font-family: 'gudea-regular';
    color: #000000;



    .sectionLogoWhatsapp {
        display: flex;
        justify-content: flex-end;

        .logoWhatsapp {
            width: 90px;
            background-color: #5c5b5b81;
            padding: 9px;
            border-radius: 18px;
        }
    }

    /*header */

    .header {
        background-color: #212121;

        .gudeaNav {
            font-family: 'gudea-regular', Courier, monospace;
            font-size: 1.5rem;
        }

        .logo {

            max-width: 200px;
            align-items: center;
            padding-bottom: 0px;
            padding-top: 0px;
        }

        .navbar-toggler-icon {
            background-image: url('../Assets/icons/d20.png');
            background-size: contain; 
            background-repeat: no-repeat;
            width: 40px; 
            height: 40px; 
            filter: invert(100%)
            
          }

        .navbar-nav .nav-link {
            color: #beada3;
            padding: 5px 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 5px;

        }

        .navbar-nav .nav-item .nav-link.active {
            /* color: #833321; */
            color: #d09b71;
        }

    }


    /* Main */
    .main {
        background-color: #d09b71;
        font-family: 'gudea-regular', Courier, monospace;

        .imgInterior {
            max-width: 100%;
            height: auto;
        }
    }


    .footer {
        background-color: #212121;;
        color: beige;
        font-family: 'gudea-regular', Courier, monospace;

        .footerRedes {
            margin-right: 30px;    
            .contenedorRedes {
                margin-right: 60px;    
                .logoRedes {
                    width: 30px;
                }
            }
        }

    }


}



@media screen and (min-width: 992px) {

    .navbar-nav .nav-link {
        padding: 10px 20px;
        background-color: #5c5b5b81;
        border-radius: 5px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .navbar-nav .nav-link.active {
        background-color: #7e7a7a71
    }

    .gudeaNav {
        font-size: 2rem;
    }


}