body {
    .footer {
        background-color: map-get($map: $mapa-colores, $key: color-gris-oscuro);
        color: map-get($map: $mapa-colores, $key: color-font-nav);
        font-family: 'gudea-regular', Courier, monospace;
        bottom: 0;

        .footerRedes {
            .contenedorRedes {
                .logoRedes {
                    width: 40px;
                }
            }
        }

        .footerCopyright {
            border-top: 2px solid map-get($map: $mapa-colores, $key: color-principal-body);
            border-radius: 7px;

        }
    }

    @media screen and (min-width: 768px) {


        .footer {
            .footerRedes {
                .contenedorRedes {

                    @include contenedorFlex(row, center);

                    .logoRedes {
                        width: 50px;
                    }
                }
            }
        }

    }

}