body {
    .header {
        background-color: #212121;
        border-bottom: 2px solid #d09b71;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;

        .gudeaNav {
            font-family: 'gudea-regular', Courier, monospace;
            font-size: 1.5rem;
        }

        .logo {

            max-width: 150px;
            align-items: center;
            padding-bottom: 0px;
            padding-top: 0px;
        }

        .navbar-toggler-icon {
            background-image: url('../Assets/icons/d20.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            filter: invert(100%)
        }

        .navbar-nav {
            .nav-link {
                color: #beada3;
                padding: 5px 5px;
                margin-top: 5px;
                margin-bottom: 5px;
                border-radius: 5px;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link.active {
                    /* color: #833321; */
                    color: #d09b71;
                }
            }
        }
    }

    @media screen and (min-width: 992px) {

        .logo {

            max-width: 200px;
        }
        .navbar-nav {
            .nav-link {
                padding: 10px 20px;
                background-color: #5c5b5b81;
                border-radius: 5px;
                margin-right: 10px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }

        .navbar-nav {
            .nav-link.active {
                background-color: #7e7a7a71
            }
        }

        .gudeaNav {
            font-size: 2rem;
        }
    }

}