body {
    .header {
        background-color: map-get($map: $mapa-colores, $key: color-gris-oscuro);
        border-bottom: 2px solid map-get($map: $mapa-colores, $key: color-principal-body);
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;

        .gudeaNav {
            font-family: $font-principal, Courier, monospace;
            font-size: 1.5rem;


            .logo {

                max-width: 150px;
                align-items: center;
                padding-bottom: 0px;
                padding-top: 0px;
            }

            .navbar-toggler-icon {
                background-image: url('../Assets/icons/d20nav.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 40px;
                height: 40px;
                filter: invert(100%)
            }


            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: map-get($map: $mapa-colores, $key: color-font-nav);
                        padding: 5px 5px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        border-radius: 5px;
                    }

                    .active {
                        color: map-get($map: $mapa-colores, $key: color-principal-body);
                    }
                }
            }


            .navbar-toggler:active {
                animation: shake 1s;
            }

            @keyframes shake {
                0% {
                    transform: translateX(0);
                }

                10% {
                    transform: translateX(-5px);
                }

                20% {
                    transform: translateX(5px);
                }

                30% {
                    transform: translateX(-5px);
                }

                40% {
                    transform: translateX(5px);
                }

                50% {
                    transform: translateX(-5px);
                }

                60% {
                    transform: translateX(5px);
                }

                70% {
                    transform: translateX(-5px);
                }

                80% {
                    transform: translateX(5px);
                }

                90% {
                    transform: translateX(-5px);
                }

                100% {
                    transform: translateX(0);
                }
            }
        }
    }



    @media screen and (min-width: 768px) {

        .gudeaNav {
            font-size: 2rem;

            .logo {

                max-width: 200px;
            }

            .navbar-nav {
                .nav-link {
                    padding: 10px 20px;
                    background-color: map-get($map: $mapa-colores, $key: color-fondo-gris);
                    border-radius: 5px;
                    margin-right: 10px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                .nav-link:hover {
                    box-shadow: 2px 2px 5px map-get($map: $mapa-colores, $key: color-texto);
                }

                .active {
                    background-color: map-get($map: $mapa-colores, $key: color-nav-active);
                }
            }
        }
    }

}