body{

    .sectionLogoWhatsapp {
        display: flex;
        justify-content: flex-end;

        .logoWhatsapp {
            width: 90px;
            background-color: map-get($map: $mapa-colores, $key: color-fondo-gris);
            padding: 9px;
            border-radius: 18px;
        }
        .logoWhatsapp:hover {
            box-shadow: 2px 2px 5px map-get($map: $mapa-colores, $key: color-texto);
            background-color:map-get($map: $mapa-colores, $key: color-whatsapp);
        }
    }
}