body {

    .main {
        .card {
            background-color: #212121ad;

            .btn-secondary {
                background-color: #beada3;

                .botonInsc {
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }
}