body{
.main{
    .formularioContacto {
        background-color: $color-negro-alpha2;
        border-radius: 5px;
    }

    .seccionTrabajo {
        border-top: 2px solid $color-gris-oscuro;
    }
}

}