body{
    .main{
                .subtituloyBanner {
                    background-color: map-get($map: $mapa-colores, $key: color-negro-alpha2);
                }
                .contenedorVideo{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    padding: 0px;
                    .videoYT{
                        box-shadow: 2px 2px 5px map-get($map: $mapa-colores, $key: color-texto);
                    }
                }
    }
}