body {

    .main {
        .card {
            background-color: $color-negro-alpha2;

            .btn-secondary {
                background-color: $color-font-nav;

                .botonInsc {
                    text-decoration: none;
                    color: $color-gris-oscuro;
                }
            }
        }
    }
}