body {

    .main{
        .bloqueTextoFrontpage {
            background-color: map-get($map: $mapa-colores, $key: color-negro-alpha);
        }

        .mapaGoogle {
            flex-wrap: wrap;
            width: 100%;
            height: 70%;
        }
    }
}