body {

    .main {

        .kenburns-top {
            animation: kenburns-top 5s ease-out both;
        }

        .bloqueTextoFrontpage {
            background-color: map-get($map: $mapa-colores, $key: color-negro-alpha);
            box-shadow: 2px 2px 5px map-get($map: $mapa-colores, $key: color-texto);
        }

        .mapaGoogle {
            @include contenedorFlex(column, center);
            flex-wrap: wrap;
            align-items: center;

            .mapaIframe {
                width: 75%;
                height: 300px;
                box-shadow: 2px 2px 5px map-get($map: $mapa-colores, $key: color-texto);
                border-radius: 17px;
            }
        }

        @keyframes kenburns-top {
            0% {
              transform: scale(1) translateY(0);
              transform-origin: 50% 16%;
            }
            100% {
              transform: scale(1.25) translateY(-15px);
              transform-origin: top;
            }
          }
          
    }

    @media screen and (min-width: 768px) {

        .main {
            .carousel-item {
                max-height: 84vh;

                .fontTitulo {
                    font-size: calc(1.375rem + 1.5vw);
                }

                .textoSlide {
                    font-size: calc(1.3rem + 0.6vw);
                }
            }

            .bloqueTextoFrontpage{
                margin-left: 15px;
                margin-bottom: 15px;
            }

            .mapaIframe {
                filter: sepia(0.7);
            }
            .mapaIframe:hover {
                filter:none;
            }

        }
    }

}