body{

    .main{
        .seccionMenu {
            .tituloMenu {
                background-color: map-get($map: $mapa-colores, $key: color-negro-alpha2);
            }

            .card-group {
                .card {
                    border-radius: 25px;

                    .card-img-top {
                        border-radius: 25px;
                    }
                }
            }
        }
    }

}