body{

    .main{
        .seccionMenu {
            .tituloMenu {
                background-color: #212121ad;
            }

            .card-group {
                .card {
                    border-radius: 25px;

                    .card-img-top {
                        border-radius: 25px;
                    }
                }
            }
        }
    }

}