body {

    .main {
        .card {
            background-color: map-get($map: $mapa-colores, $key: color-negro-alpha2);

            .btn-secondary {
                background-color: map-get($map: $mapa-colores, $key: color-font-nav);

                .botonInsc {
                    text-decoration: none;
                    color: map-get($map: $mapa-colores, $key: color-gris-oscuro);
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .cardInvertida {
            display: none;
        }
    }

}