
/* Resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*fonts*/
@font-face {
    font-family: 'gudea-regular';
    src: url('../Assets/fonts/Gudea-Regular.ttf');
}

@font-face {
    font-family: 'montserrat';
    src: url('../Assets/fonts/Montserrat-VariableFont_wght.ttf');
}


/*Generalidades Body*/
body {
    background-color: map-get($map: $mapa-colores, $key: color-principal-body);
    font-family: $font-principal;
    color: map-get($map: $mapa-colores, $key: color-texto);
    .main {
        background-color: map-get($map: $mapa-colores, $key: color-principal-body);
        font-family: $font-principal , Courier, monospace;
        .fontTitulo {
            font-family: $font-titulos;
        }
        .bold {
            font-weight: bold;
        }
    }
    
}